<div id="spot-id-<%= spot.id %>">
  <div class="mt-2">
    <ul class="flex justify-between w-full">
      <%# 左寄せ %>
      <div class="font-bold text-base text-primary">
        <%# 施設名 %>
        <%= link_to spot.name, spot_path(spot), class: "link" %>
      </div>
    </ul>
  </div>
</div>
