<div class="row">
  <div class="col-12">
    <div class="row">
      <% if @spots.present? %>
        <%= render @bookmark_spots %>
      <% else %>
        <p>ブックマークしている施設はありません。</p>
      <% end %>
    </div>
  </div>
</div>