<h1 class="text-xl font-bold text-center py-6">
  一覧から探す
</h1>

<%= render 'spots/search_form' %>

<div class="flex flex-wrap justify-center gap-6 mx-5 py-3">
  <% if @bookmark_spots.present? %>
    <%= render @bookmark_spots %>
  <% else %>
    <p>ブックマークしている施設はありません。</p>
  <% end %>
  <%= paginate @bookmark_spots %>
</div>
