<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-max">
      <h1 class="text-5xl font-bold">Sound Spot Search</h1>
      <p class="py-6">
      楽器や歌を楽しむ人が「音を鳴らすことのできる場所」を探すサービスです。<br>
      カラオケ、スタジオ、文化会館等の公共施設を検索し<br>気兼ねなく音楽を練習、楽しむ施設を見つけることができます。
      </p>
      <button class="btn btn-primary">地図から探す</button>
    </div>
  </div>
</div>