<div class="hero bg-base-100 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-max font-bold">
      <h1 class="text-5xl font-title">Sound Spot Search</h1>
      <p class="py-6">
      楽器や歌を楽しむ人が「音を鳴らすことのできる場所」を探すサービスです。<br>
      カラオケ、スタジオ、文化会館等の公共施設を検索し<br>
      気兼ねなく音楽を練習、楽しむ施設を見つけることができます。
      </p>
      <button class="btn btn-primary font-title">
        <%= link_to '地図から探す', spots_map_path %>
      </button>
    </div>
  </div>
</div>