<div class="flex items-center justify-center h-screen bg-background pt-8 pb-12 px-6 w-full">
  <div class="w-full max-w-lg p-4 rounded-lg shadow-lg bg-my_white">

  <h2 class="text-lg font-bold my-6 text-center">ユーザー登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <form class="card-body">
      <div class="form-control">
        <label class="label">
          <span class="label-text">ユーザー名</span>
        </label>
        <input type="name" placeholder="ユーザー名" class="input input-bordered" required />
      </div>

      <div class="form-control">
        <label class="label">
          <span class="label-text">メールアドレス</span>
        </label>
        <input type="email" placeholder="メールアドレス" class="input input-bordered" required />
      </div>

      <div class="form-control">
        <label class="label">
          <span class="label-text">パスワード</span>
          <% if @minimum_password_length %>
            <span class="label-text-alt">
              <%= @minimum_password_length %> 文字以上
            </span>
          <% end %>
        </label>
        <input type="password" placeholder="パスワード" class="input input-bordered" required />
      </div>

      <div class="form-control">
        <label class="label">
          <span class="label-text">パスワード（確認用）</span>
        </label>
        <input type="password" name="password_confirmation" placeholder="パスワード（確認用）" class="input input-bordered" required />
      </div>

      <div class="form-control mt-6">
        <button class="btn btn-primary">ユーザー登録</button>
        </div>
      </form>
      <div class="text-center mt-4">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>