<div class="navbar bg-base-300">
  <div class="flex-1 font-bold">
    <%= link_to "Sound Spot Search", root_path %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
      <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %>
      </li>
      <li>
        <details>
          <summary>メニュー</summary>
          <ul class="bg-base-300 rounded-t-none p-2">
            <li><a>地図から探す</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>