<div class="navbar bg-base-300">
  <div class="flex-1 font-title">
    <%= link_to "Sound Spazio Search", root_path %>
  </div>
  <div class="flex-none font-body">
    <ul class="menu menu-horizontal px-1">
      <li>
        <%= link_to "ユーザー登録", new_user_registration_path %>
      </li>
      <li>
      <%= link_to 'ログイン', new_user_session_path %>
      </li>
      <li>
        <details>
          <summary>メニュー</summary>
          <ul class="bg-base-200 rounded-t-none p-2">
            <%= link_to '地図から探す', spots_map_path %>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>