@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'FontAwesome';
  src: asset-url('fontawesome-webfont.woff2') format('woff2');
}


.container {
  display: flex;
  justify-content: center; 
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  #map {
    height: 90%;
    width: 90%;
  }

  .autocomplete-results {
    position: absolute;
    top: -120%; 
    right: 8%;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.653);
    border: 1px solid #ddd;
    z-index: 1000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .autocomplete-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .autocomplete-item:hover {
    background-color: #f0f0f0;
  }
  
  .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}