<div class="card bg-base-100 w-96 shadow-xl">
  <div class="card-body">
  <% if current_user && current_user.own?(review) %>
    <%= render 'reviews/destroy_button', review: review %>
  <% end %>
      <h3 class="small"><%= review.user&.name || "匿名ユーザー" %></h3>
      <p><%= review.body %></p>
  </div>
</div>